---
layout: archive
title: "Core Competence Examples and Professional Development"
permalink: /work/
author_profile: true
---
The following The following links contain information about work that I have done as a student at the University of Iowa, as well as related professional development opportunities that I have completed or would like to complete. More information about ALA's Core Competences of Librarianship can be found <a href="https://www.ala.org/educationcareers/careers/corecomp/corecompetences">here</a>.


{% include base_path %}


{% for post in site.work %}
  {% include archive-single.html %}
{% endfor %}
